<h1>List</h1>
  <% @animes.each do |anime| %>
    <%= animes.name %>
    <%= animes.creator %>
    <%= link_to 'Show', animes %>
    <%= link_to 'Edit', edit_anime_path(animes) %>
    <%= link_to 'Destroy', user, method: :delete,
                                    data: { confirm: 'Are you sure?' }
